<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="NuGet.Configuration" version="3.2.1" targetFramework="net452" />
  <package id="NuGet.Core" version="2.9.0" targetFramework="net452" />
  <package id="NuGet.Frameworks" version="3.2.1" targetFramework="net452" />
  <package id="NuGet.Logging" version="3.2.1" targetFramework="net452" />
  <package id="NuGet.Packaging" version="3.2.1" targetFramework="net452" />
  <package id="NuGet.Packaging.Core" version="3.2.1" targetFramework="net452" />
  <package id="NuGet.Packaging.Core.Types" version="3.2.1" targetFramework="net452" />
  <package id="NuGet.Protocol.Core.Types" version="3.2.1" targetFramework="net452" />
  <package id="NuGet.Protocol.Core.v2" version="3.2.1" targetFramework="net452" />
  <package id="NuGet.Protocol.Core.v3" version="3.2.1" targetFramework="net452" />
  <package id="NuGet.Protocol.VisualStudio" version="3.2.1" targetFramework="net452" />
  <package id="NuGet.Versioning" version="3.2.1" targetFramework="net452" />
  <package id="xunit" version="2.1.0" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net452" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net452" />
  <package id="xunit.core" version="2.1.0" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net452" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net452" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net452" />
</packages>