@{
    Layout = "~/Views/Shared/_Landing.cshtml";
}

<div class="container">
    <div class="row mt centered">
        <div class="col-lg-6 col-lg-offset-3">
            <h1>Visualize NuGet Packages</h1>
            <h3>An open-source tool to search and visualize NuGet packages and their dependencies!</h3>
            <h4>Running on Azure, and you can run it on-premise too!</h4>
        </div>
    </div><!-- /row -->
    <div class="row mt centered">
        <div class="col-lg-4">
            <img src="~/Images/search.png" width="180" alt="">
            <h4>Search</h4>
            <p>
                Search NuGet packages the same way as you do on <a href="http://www.nuget.org">nuget.org</a>
            </p>
        </div><!--/col-lg-4 -->
        <div class="col-lg-4">
            <img src="~/Images/view.png" width="180" alt="">
            <h4>Browse</h4>
            <p>Browse through the package versions on any NuGet repository</p>
        </div><!--/col-lg-4 -->
        <div class="col-lg-4">
            <img src="~/Images/mind_map.png" width="180" alt="">
            <h4>Visualize</h4>
            <p>Visualize package and framework dependencies in one glimpse</p>
        </div><!--/col-lg-4 -->
    </div><!-- /row -->
</div>