<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="myget-aspnetvnext" value="https://www.myget.org/F/aspnetrelease/" />
  </packageSources>
  <activePackageSource>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="myget-aspnetvnext" value="https://www.myget.org/F/aspnetrelease/" />
  </activePackageSource>
  <config>
    <add key="globalPackagesFolder" value="F:\Punit Ganshani\Repository\GitHub\NuGetViz\NuGetViz\.nuget" />
  </config>
</configuration>